html,
body,
input,
button,
textarea {
    font-family: monospace;
    color: #ccc;
}

html,
body {
    background: #121212;
    font-size: 16px;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

p {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul>li {
    padding: 11px;
    margin: 7px 0;
    border: 1px solid #333;
}

button,
input,
textarea {
    padding: 5px 11px;
    background: #222;
    border: 1px solid #777;
    border-radius: 2px;
    font-size: 16px;
}

button:not(:disabled):hover {
    background: #2c2c2c;
}

input:focus,
button:focus,
textarea:focus {
    outline: solid 1px rgb(228, 0, 120);
}

button:disabled,
input:disabled {
    cursor: not-allowed;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 9px;
    max-width: 800px;
    width: 100%;
    padding: 11px;
    border: 1px solid #777;
    box-sizing: border-box;
}

.expiration-limits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.expiration-limits>* {
    min-width: 250px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.contents {
    display: contents;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
